@import 'tailwindcss';

* {
	cursor: none !important;
}

html {
	scroll-behavior: smooth;
}

.custom-cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	border: 2px solid #22d3ee;
	border-radius: 100%;
	pointer-events: none;
	translate: -50% -50%;
	transition: transform 0.08s ease;
	z-index: 9999;
}

@media (pointer: coarse) {
	.custom-cursor {
		display: none !important;
	}
}

@layer base {
	html {
		@apply bg-[#16171d];
	}

	html.dark {
		@apply bg-[#d1d5de];
	}
}

@custom-variant dark (&:where(.dark, .dark *));
